
.button-help{
    padding: 7px;
    border: 0;
    /* width: 80px; */
    font-size: 40px;
    color: rgb(36, 159, 240);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: transparent;

}

.button-help:hover{
    background-color: transparent;
}
