/* App.css */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rethink+Sans:ital,wght@1,500&family=Roboto:wght@500&display=swap');

body,
h1,
h2,
p,
ul,
li,
table {
  margin: 0;
  padding: 0;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  /* background-color: rgb(39, 153, 184); */
  background-color: #800080;
}



.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.add-number-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.add-number-section h2 {
  margin-bottom: 10px;
}

.add-number-section-area-button {
  display: flex;
  margin-top: 20px;
}

.add-button,
.combine-button,
.remove-button,
.show-numbers-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.combine-button {
  background-color: #0b3688;

}

.show-numbers-button {
  background-color: rgb(117, 16, 131);
}

.remove-button {
  background-color: #e7404e;
}

.combinations-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
}

.combinations-section h2 {
  margin-bottom: 10px;
}

.td-combination {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  color: dimgray;
}

.combinations-table th,
.combinations-table td {
  border: 1px solid #ddd;
  padding: 8px;
  color: #000;
  text-align: center;
}

.combinations-table th {
  background-color: #f2f2f2;
}

.even-row {
  /* background-color: #80c2f87e; */
  
  background-color: #17b7977e;
}



.odd-row {
  background-color: #f5b55668;
}


.generation-tickets-button {
  margin-top: 10px;
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 0;
  background-color: rgb(13, 31, 194);
}

.generation-tickets-button p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ececec;
}

.author p {
  font-family: 'Roboto', sans-serif;
  color: #0e09096e;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 600px) {
  .combinations-table {
    width: 100%;
    overflow-x: auto;
  }

  .combinations-section {
    padding: 10px;
    overflow-x: auto;
  }

}

.combination-table-area {
  overflow-x: auto;
}

.table-colum-rows-area-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.combinations-table {
  width: 100%;
  max-width: 100%;
  /* border-collapse: collapse; */
  margin-top: 20px;
}

.combination-table-area {
  overflow-x: auto;
}

.tacle-colum-rows-area {
  white-space: nowrap;
}

.table-colum-rows-area-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 10px;
  /* max-width: 300px; */

}

thead th:nth-child(1) {
  width: 50px;
  /* Largura desejada para a primeira coluna (Qt Bilhetes) */
}

thead th:nth-child(2) {
  width: 600px;
  /* Largura desejada para a segunda coluna (Números do Bilhete) */
}


.td-combination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300%;
  width: 80%;
  margin-left: 55px;
  white-space: pre-line;
}
